body {
  padding: 64px;
}

.message {
  width: 300px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 32px;
  bottom: 32px;
  -webkit-animation: popup 2s forwards;
          animation: popup 2s forwards;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20%, 80% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20%, 80% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
  }
}

.loading {
  width: 40px;
  height: 40px;
  border: 8px solid #ccc;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 0.8s infinite linear;
          animation: spin 0.8s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn {
  padding: 16px 32px;
  background: #0088cc;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background: #000e14;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  80% {
    -webkit-transform: translateX(200px) rotate(360deg);
            transform: translateX(200px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(300px) rotate(360deg);
            transform: translateX(300px) rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  80% {
    -webkit-transform: translateX(200px) rotate(360deg);
            transform: translateX(200px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(300px) rotate(360deg);
            transform: translateX(300px) rotate(360deg);
  }
}

.box:hover {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  background: skyblue;
}
/*# sourceMappingURL=styles.css.map */