// @media (min-width:600px) and (max-width: 800px) {
//    body {
//        background-color: skyblue;
//    }
// }

// common
body {
    margin: 0;
}

aside {
    display: none;
}
.image {
    background-color: pink;
    height: 100px;
}

.text {
    background-color: gray;
    height: 100px;
}

@media (min-width:600px)  {
    section {
        display: flex;
    }

    .image {
        width: 200px;
    }
    .text {
        flex: 1;
    }
 }

 @media (min-width:800px)  {
     section {
         width: 800px;
         margin: 0 auto;
     }
     aside {
        display: block;
        background-color: pink;
        width: 160px;
     }
}


